@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* Compass CSS3 Library */
/* Variables */
/* Globals */
/* Typography */
/* Import Fonts */
/* Reset */
/* Reset */
/* line 13, ../_mistermachine_compass/scss/globals/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* apply a natural box layout model to all elements */
/* line 24, ../_mistermachine_compass/scss/globals/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Add HTML5 elements */
/* line 39, ../_mistermachine_compass/scss/globals/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* Nomarlization */
/* line 51, ../_mistermachine_compass/scss/globals/_reset.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
select,
textarea {
  text-decoration: none;
}

/* line 55, ../_mistermachine_compass/scss/globals/_reset.scss */
ul {
  list-style: none;
}

/* line 58, ../_mistermachine_compass/scss/globals/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 63, ../_mistermachine_compass/scss/globals/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 68, ../_mistermachine_compass/scss/globals/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset */
/* Headings */
/* line 3, ../_mistermachine_compass/scss/globals/_typography.scss */
html {
  font-size: 15px;
  line-height: 1.625em;
  font-family: 'Open Sans', sans-serif;
}

/* line 10, ../_mistermachine_compass/scss/globals/_typography.scss */
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma {
  font-family: "jubilat", "Merriweather", Georgia, Times, serif;
  font-weight: 400;
  line-height: 1.4em;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

/* line 19, ../_mistermachine_compass/scss/globals/_typography.scss */
h1,
.alpha {
  font-size: 30px;
  font-size: 2rem;
  /* 36 / 16 = 2.25 */
  margin-bottom: 0.495em;
  line-height: 1.2em;
}

/* line 27, ../_mistermachine_compass/scss/globals/_typography.scss */
h2,
.beta {
  font-size: 18px;
  font-size: 1.2rem;
  /* 24 / 16 = 1.5 */
  margin-bottom: 0.5em;
}

/* line 34, ../_mistermachine_compass/scss/globals/_typography.scss */
h3,
.gamma {
  font-size: 22px;
  font-size: 1.325rem;
  /* 22 / 16 = 1 */
  margin-bottom: 0.825em;
}

/* line 41, ../_mistermachine_compass/scss/globals/_typography.scss */
h4,
.delta {
  font-size: 18px;
  font-size: 1.125rem;
  /* 18 / 16 = .875 */
  margin-bottom: 1.2375em;
}

/* line 48, ../_mistermachine_compass/scss/globals/_typography.scss */
h5,
.epsilon {
  font-size: 16px;
  font-size: 1rem;
  /* 16 / 16 = .75 */
  margin-bottom: 1.4142857142857141em;
  /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141) */
}

/* line 55, ../_mistermachine_compass/scss/globals/_typography.scss */
h6,
.zeta {
  font-size: 14px;
  font-size: .875rem;
  /* 14 = 16 × .8675 */
  margin-bottom: 1.65em;
  /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65) */
}

/* Text */
/* line 63, ../_mistermachine_compass/scss/globals/_typography.scss */
article p, figcaption {
  margin: auto auto 1.5em;
  /* bottom margin for paragraphs */
}

/* line 67, ../_mistermachine_compass/scss/globals/_typography.scss */
article p + article p {
  text-indent: 1.5em;
  /* indent subsequent paragraphs */
  margin-top: -1.5em;
  /* no top margin on subsequent paragraphs */
}

/* line 72, ../_mistermachine_compass/scss/globals/_typography.scss */
small {
  font-size: 14px;
  font-size: .85em;
  line-height: 1.2em;
  font-weight: normal;
  margin: .75em 0;
}

/* line 80, ../_mistermachine_compass/scss/globals/_typography.scss */
.serif {
  font-family: "ff-tisa-web-pro", "Merriweather", Georgia, Times, serif;
}

/* line 84, ../_mistermachine_compass/scss/globals/_typography.scss */
.sans {
  font-family: "proxima-nova", "Open Sans", "HelveticaNeue", Helvetica, Arial, sans-serif;
}

/* line 88, ../_mistermachine_compass/scss/globals/_typography.scss */
.strong {
  font-weight: bold;
  font-weight: 600;
}

/* line 93, ../_mistermachine_compass/scss/globals/_typography.scss */
.tall {
  line-height: 1.475em;
}

/* line 97, ../_mistermachine_compass/scss/globals/_typography.scss */
.short {
  line-height: 1.4em;
}

/* line 101, ../_mistermachine_compass/scss/globals/_typography.scss */
cite {
  display: block;
}

/* Anchors */
/* line 106, ../_mistermachine_compass/scss/globals/_typography.scss */
a {
  color: #adc035;
  text-decoration: none;
}

/* Lists */
/* Reset */
/* Forms */
/* Input */
/* line 17, ../_mistermachine_compass/scss/globals/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 2em;
  padding: 0.5em 0.5em;
}

/* line 45, ../_mistermachine_compass/scss/globals/_forms.scss */
.btn,
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 52, ../_mistermachine_compass/scss/globals/_forms.scss */
label {
  font-weight: normal !important;
  display: block;
  margin-bottom: 1rem;
}

/* Fieldset */
/* Buttons */
/* line 69, ../_mistermachine_compass/scss/globals/_forms.scss */
.btn a,
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  padding: 1em 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
}

/* Errors */
/* Colors */
/* Colors */
/* line 14, ../_mistermachine_compass/scss/globals/_colors.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.menu a,
select,
textarea,
.base {
  color: #333;
}

/* line 29, ../_mistermachine_compass/scss/globals/_colors.scss */
.home .site-header a,
.home .site-header .site-description,
.home .nav-primary .menu a,
.home .inverse h1,
.home .inverse h2,
.home .inverse h3,
.home .inverse h4,
.home .inverse h5,
.home .inverse h6,
.home .inverse p,
.home .inverse a,
.home .inverse {
  color: white;
}

/* line 38, ../_mistermachine_compass/scss/globals/_colors.scss */
.btn,
.btn a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: white;
}

/* line 42, ../_mistermachine_compass/scss/globals/_colors.scss */
.primary {
  color: #adc035;
}

/* line 50, ../_mistermachine_compass/scss/globals/_colors.scss */
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #adc035;
}

/* line 54, ../_mistermachine_compass/scss/globals/_colors.scss */
.secondary {
  color: #b576ad;
}

/* line 58, ../_mistermachine_compass/scss/globals/_colors.scss */
.menu .btn {
  background-color: #9bcfdd;
}

/* line 62, ../_mistermachine_compass/scss/globals/_colors.scss */
.emphasis {
  color: #9bcfdd;
}

/* line 66, ../_mistermachine_compass/scss/globals/_colors.scss */
.dark {
  background: #333;
}

/* line 70, ../_mistermachine_compass/scss/globals/_colors.scss */
.cyan {
  background: #00aeef;
}

/* line 93, ../_mistermachine_compass/scss/globals/_colors.scss */
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.cyan h1,
.cyan h2,
.cyan h3,
.cyan h4,
.cyan h5,
.cyan h6,
.cyan p,
.magenta h1,
.magenta h2,
.magenta h3,
.magenta h4,
.magenta h5,
.magenta h6,
.magenta p {
  color: #fff;
}

/* line 97, ../_mistermachine_compass/scss/globals/_colors.scss */
.magenta {
  background: #ec008c;
}

/* Layout */
/* Grid */
/* Class Grid based on OOCSS */
/* line 3, ../_mistermachine_compass/scss/layout/_grid.scss */
.row,
footer {
  width: auto;
  padding: 0 1.625em;
}

/* line 9, ../_mistermachine_compass/scss/layout/_grid.scss */
.row,
.lastUnit {
  overflow: hidden;
  *overflow: visible;
  * zoom: 1;
}

/* Navigation */
/* Menus */
/* line 6, ../_mistermachine_compass/scss/layout/_navigation.scss */
.menu-primary li {
  display: inline;
  padding: 1em 1.5em;
}

/* line 11, ../_mistermachine_compass/scss/layout/_navigation.scss */
.menu-primary li.btn {
  padding: 0;
}

/* line 15, ../_mistermachine_compass/scss/layout/_navigation.scss */
.menu-primary li.btn a {
  padding: 1em 1.5em;
  background-color: #9bcfdd;
}

/* line 24, ../_mistermachine_compass/scss/layout/_navigation.scss */
.nav-primary {
  text-align: center;
  padding-bottom: 0;
}

/* Layout */
/* Layout */
/* line 3, ../_mistermachine_compass/scss/layout/_layout.scss */
.no-margin {
  margin: 0;
}

/* line 7, ../_mistermachine_compass/scss/layout/_layout.scss */
.margin-top {
  margin-top: 1.5em;
}

/* line 11, ../_mistermachine_compass/scss/layout/_layout.scss */
.margin-bottom {
  margin-bottom: 1.5em;
}

/* line 15, ../_mistermachine_compass/scss/layout/_layout.scss */
.panel {
  position: relative;
  padding: 2em;
  overflow: hidden;
}

/* line 21, ../_mistermachine_compass/scss/layout/_layout.scss */
.full-width {
  padding-left: 0;
  padding-right: 0;
}

/* line 30, ../_mistermachine_compass/scss/layout/_layout.scss */
figure img {
  max-width: 100%;
}

/* line 34, ../_mistermachine_compass/scss/layout/_layout.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 47, ../_mistermachine_compass/scss/layout/_layout.scss */
.hero {
  max-height: 800px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

/* line 54, ../_mistermachine_compass/scss/layout/_layout.scss */
.inner-words {
  margin: 10%;
}

/* Helpers */
/* Helpers */
/* line 2, ../_mistermachine_compass/scss/layout/_helpers.scss */
.normal {
  font-weight: normal;
}

/* line 6, ../_mistermachine_compass/scss/layout/_helpers.scss */
.center {
  text-align: center;
}

/* line 10, ../_mistermachine_compass/scss/layout/_helpers.scss */
cite {
  text-align: right;
}

/* line 14, ../_mistermachine_compass/scss/layout/_helpers.scss */
.left {
  text-align: left;
}

/* line 18, ../_mistermachine_compass/scss/layout/_helpers.scss */
.hide {
  display: none;
}

/* line 22, ../_mistermachine_compass/scss/layout/_helpers.scss */
.round img {
  border-radius: 50%;
}

/* line 26, ../_mistermachine_compass/scss/layout/_helpers.scss */
.unit.right {
  float: right;
}

/* Clearfix */
/* line 32, ../_mistermachine_compass/scss/layout/_helpers.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 41, ../_mistermachine_compass/scss/layout/_helpers.scss */
.clearfix {
  display: inline-block;
}

/* line 45, ../_mistermachine_compass/scss/layout/_helpers.scss */
html[xmlns] .clearfix {
  display: block;
}

/* line 49, ../_mistermachine_compass/scss/layout/_helpers.scss */
* html .clearfix {
  height: 1%;
}

/* line 54, ../_mistermachine_compass/scss/layout/_helpers.scss */
.overflow,
.site-container {
  overflow: hidden;
}

/* line 58, ../_mistermachine_compass/scss/layout/_helpers.scss */
.site-container {
  width: 100%;
  position: relative;
}

/* line 63, ../_mistermachine_compass/scss/layout/_helpers.scss */
img.bg {
  /* Set rules to fill background */
  min-height: 40em;
  min-width: 84em;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 84, ../_mistermachine_compass/scss/layout/_helpers.scss */
.silo {
  margin-bottom: 1em;
}

/* line 88, ../_mistermachine_compass/scss/layout/_helpers.scss */
.silo p {
  padding-right: 1em;
}

/* line 94, ../_mistermachine_compass/scss/layout/_helpers.scss */
.center-articles,
.center-articles h1,
.center-articles h2 {
  text-align: center;
}

/* line 98, ../_mistermachine_compass/scss/layout/_helpers.scss */
.push {
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Breakpoints */
/* Breakpoints */
@media only screen and (min-width: 480px) {
  /* line 4, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  html {
    font-size: 18px;
  }

  /* line 16, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  figure {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* line 22, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  figure img {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  /* line 31, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  figure {
    display: block;
    width: 100%;
    text-align: center;
  }

  /* line 37, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  figure img {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  /* line 47, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  html {
    font-size: 18px;
  }

  /* line 51, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .panel {
    padding: 4em 0;
  }

  /* line 63, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .btn,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    width: auto;
  }

  /* line 67, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  /* line 72, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  h1, h2, h3, h4, h5, h6,
  .alpha, .beta, .gamma {
    line-height: 1.5em;
  }

  /* line 77, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  h1,
  .alpha {
    font-size: 72px;
    font-size: 4rem;
    /* 36 / 16 = 2.25 */
    margin-bottom: 0.495em;
    line-height: 1.2em;
  }

  /* line 85, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  h2,
  .beta {
    font-size: 18px;
    font-size: 1.2rem;
    /* 24 / 16 = 1.5 */
    margin-bottom: 0.5em;
  }

  /* line 92, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  h3,
  .gamma {
    font-size: 22px;
    font-size: 1.325rem;
    /* 22 / 16 = 1 */
    margin-bottom: 0.825em;
  }

  /* line 99, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .right-margin {
    margin-right: 1em;
  }

  /* line 107, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .top {
    padding-top: 4em;
  }

  /* line 111, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .right-padding {
    padding-right: 1em;
  }

  /* line 115, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .align-left {
    float: left;
  }

  /* line 119, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: .3125em;
    padding-right: .3125em;
    max-width: 64.000em;
  }

  /* line 130, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .unit {
    float: left;
  }

  /* line 133, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .unit .inner {
    padding: 0 1em;
  }

  /* line 135, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size1of1 {
    float: none;
  }

  /* line 136, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size1of2 {
    width: 50%;
  }

  /* line 137, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size1of3 {
    width: 33.33333%;
  }

  /* line 138, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size2of3 {
    width: 66.66666%;
  }

  /* line 139, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size1of4 {
    width: 25%;
  }

  /* line 140, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size3of4 {
    width: 75%;
  }

  /* line 141, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size1of5 {
    width: 20%;
  }

  /* line 142, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size2of5 {
    width: 40%;
  }

  /* line 143, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size3of5 {
    width: 60%;
  }

  /* line 144, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .size4of5 {
    width: 80%;
  }

  /* line 145, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .lastUnit {
    float: none;
    width: auto;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
  }

  /* line 153, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .nav-primary {
    position: absolute;
    right: 2.5em;
    top: 4.5em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 162, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  img.bg {
    /* Set rules to fill background */
    min-height: 60em;
    min-width: 125em;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 175, ../_mistermachine_compass/scss/layout/_breakpoints.scss */
  .nav-primary {
    top: 2em;
  }
}
