/* Breakpoints */
@media only screen and (min-width: 480px) {
  
  html {
    font-size: 18px;
  }
  
  .full-width {
    padding: 2em 0;
  }

}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 768px) {

  html {
  font-size: 20px;
  }

  .full-width {
    padding: 4em 0;
  }

  .btn,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    width: auto;
  }

  h1,h2,h3,h4,h5,h6 {
    text-align: left;
  }

  .right-margin {
    margin-right: 1em;
  }

  .panel {
    padding-bottom: 2em;
  }

  .top {
    padding-top: 4em;
  }

  .right-padding {
    padding-right: 1em;
  }

  .align-left {
    float: left;
  }

  .row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: .3125em;
    padding-right: .3125em;
    max-width: 64.000em;
  }

  .unit { float:left; }

  .unitRight {  }
  .unit .inner { padding: 0 1em; }

  .size1of1 { float: none; }
  .size1of2 { width: 50%; }
  .size1of3 { width: 33.33333%; }
  .size2of3 { width: 66.66666%; }
  .size1of4 { width: 25%; }
  .size3of4 { width: 75%; }
  .size1of5 { width: 20%; }
  .size2of5 { width: 40%; }
  .size3of5 { width: 60%; }
  .size4of5 { width: 80%; }
  .lastUnit {
      float: none;
      width: auto;
      _position: relative;
      _left: -3px;
      _margin-right: -3px;
      }

 .nav-primary {
    position: absolute;
    right: 2.5em;
    top: 4.5em;
    }

}

@media only screen and (max-width: 768px) {
  img.bg {
    /* Set rules to fill background */
    min-height: 60em;
    min-width: 125em;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    }

}

@media only screen and (min-width: 1024px) {
  .nav-primary {
    top: 2em;
  }

}