/* Layout */

.no-margin {
  margin: 0;
  }

.margin-top {
  margin-top: 1.5em; 
  }

.margin-bottom {
  margin-bottom: 1.5em;
  }

.panel {
  position: relative;
  padding: 2em 1em;
  overflow: hidden;
}

.full-width {
  padding-left: 0;
  padding-right: 0;
}

.full-width {

}

figure img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
} 

.full-width {

}

.hero {
  max-height: 700px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.inner-fig{
 margin: 1em 0; 
}

.inner-words {
  margin: 1em;
}

nav.silo {
  padding-top: 20px;
  padding-bottom: 60px;
  border-right: 1px solid #efefef;
  text-align: center;
}

nav.silo img {
  max-width: 100%;
  padding: 0 20px;
}

nav.silo:last-child {
  border-right: 0;
}
